<main>

	<h2>Viewing User Name:
        

		{{user.name}}

	</h2>


    <br>
	<div class="container-show">
	

		<h3>Soundcloud:</h3>
			    <p>

				{{user.soundcloud}}
                </p>
            <br>
		<h3>Apple_music:</h3>
			<p id="apple_music:">

				{{user.apple_music}} </p>
            <br>

			<h3 id="quantity">

	 				{{donut.qty}} remaining

			</h3>

			<br>

		  <a href="/{{donut._id}}/edit">EDIT</a>

		

		</div>

    <form action="/{{user._id}}?_method=DELETE" method="POST">
      <button type="submit">DELETE THIS USER</button>
    </form>
     <form action="/{{user._id}}/edit">
      <button type="submit">EDIT THIS USER</button>
    </form>
</main>
